<%- include('partial/header') %>

    <div class="w-50 shadow my-5 p-5 rounded text-center mx-auto">
        <h3>
            Name:<%= viewData.name %>
        </h3>
        <h3>
            Age:<%= viewData.age %>
        </h3>
        <h3>
            Email:<%= viewData.email %>
        </h3>
        <h3>
            Phone<%= viewData.phone %>
        </h3>
        <a href="/" style="all:unset">
            <button type="button" class=" mt-4 btn btn-outline-secondary">
                < Back</button>

        </a>

    </div>

    <%- include('partial/footer') %>