<%- include('partial/header') %>

    <div class="w-75 mx-auto bg-light my-5 border border-dark shadow rounded">
        <div class="d-flex justify-content-between p-1">
            <h3 class="ms-3">Details</h3>
            <a href="/add-data" style="all:unset">
                <button class="btn btn-primary me-3">Add Data</button>
            </a>

        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>

                <% userData.forEach((e,i,a)=>{ %>
                    <tr class="text-center">
                        <td>
                            <%= e.name %>
                        </td>
                        <td>
                            <%= e.age %>
                        </td>
                        <td>
                            <%= e.email %>
                        </td>
                        <td>
                            <%= e.phone %>
                        </td>
                        <td>
                            <a href="/get-data/<%= e._id %>" style="all:unset;cursor:pointer">
                                <img width="30" height="30" src="https://img.icons8.com/fluency/30/view.png"
                                    alt="view" />
                            </a>

                            <a href="/update-data/<%= e._id %>" style="all:unset;cursor:pointer">
                                <img class="mx-3" width="30" height="30"
                                    src="https://img.icons8.com/fluency/48/create-new.png" alt="create-new" />
                            </a>

                            <a href="/delete-data/<%= e._id %>" style="all:unset;cursor:pointer  ">
                                <img width="30" height="30" src="https://img.icons8.com/scribby/50/filled-trash.png"
                                    alt="filled-trash" />
                            </a>

                        </td>
                    </tr>
                    <% }) %>


            </tbody>
        </table>
    </div>



    <%- include('partial/footer') %>